<div class="container mt-5">
  <div id="exercises" class="container mt-4">
    <% @categories.each do |category| %>
      <div class="category-section mb-4">
        <h2 class="border-bottom pb-2 d-flex justify-content-between align-items-center">
          <%= category.name %>
        </h2>
        
        <div class="row">
          <% category.next_exercises.each do |exercise| %>
            <div class="col-md-4 mb-3">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title"><%= exercise.name %></h5>
                  <p class="card-text text-muted mb-3">
                    <%= exercise.description %>
                  </p>

                  <%= render 'complete_form', exercise: exercise %>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>
