<div class="container mt-5">
  <h1 class="text-center mb-4">Welcome to Workout App</h1>

  <div class="row">
    <% @categories.each do |category| %>
      <div class="col-md-4 mb-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title"><%= category.name %></h5>
            <% exercises = category.next_exercises %>
            <% exercises.each do |exercise| %>
              <p class="card-text"><%= exercise.name %></p>
              <%= render 'complete_form', exercise: exercise %>
              <hr>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
