<h1>Settings</h1>

<div class="settings-menu">
  <h2>Exercise Management</h2>
  <ul>
    <li><%= link_to "Manage Exercises", exercises_path %></li>
    <li><%= link_to "Manage Categories", categories_path %></li>
  </ul>
</div>
